@charset "utf-8";

body {
    background-color: #ccc;
}

@mixin imgstyle($x, $y, $width, $height) {
    width: $width;
    height: $height;
    background: url(../img/JS2-1-1.png);
    background-position: $x $y;
    background-size: .47rem .89rem;
}

.center {
    text-align: center;
}

header {
    line-height: .4rem;
    box-sizing: border-box;
    padding: .1rem;
    overflow: hidden;
    background-color: #29bde0;
    text-align: center;
}

.head-word {
    height: .4rem;
    font-size: .2rem;
    color: white;
}

.head-left {
    @include imgstyle(0, -.48rem, .25rem, .41rem);
    display: inline-block;
    float: left;
}

.head-right {
    @include imgstyle(0, 0, .47rem, .47rem);
    display: inline-block;
    float: right;
}

.middle-style {
    box-sizing: border-box;
    margin: .1rem;
    padding: .1rem;
    background-color: white;
}

.middle-list {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    li {
        margin-top: .1rem;
        color: #b6b6b6;
    }
    p {
        display: inline-block;
    }
}

.list-square {
    width: .1rem;
    padding-bottom: .1rem;
    background-color: red;
    display: inline-block;
    margin-right: .1rem;
}

.middle-play {
    margin: 0 auto;
    padding: .1rem;
    font-size: .2rem;
    writing-mode: vertical-lr; //竖直排列
}

.middle-set {
    color: #29bde0;
    background: none;
    text-dectrion: none;
    box-shadow: none;
    border: none;
}

.middle-keyword {
    display: block;
    color: #b6b6b6;
}

.middle-slider {
    display: block;
    margin: .5rem auto;
}

.bottom {
    box-sizing: border-box;
    margin: .1rem;
    background-color: #fab344;
    text-align: center;
}

.bottom-btn {
    width: 100%;
    font-size: .2rem;
    color: white;
    background-color: #fab344;
    border: none;
}
