<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>JS5登陆页面</title>
	<link rel="stylesheet" type="text/css" href="css/JS6-LOGIN.css">
</head>

<body ng-app="myapp" ng-controller="biubiubiu">
	<main>
		<div class="title">后台登陆</div>
		<form class="wrap" novalidate name="loginForm">
			<div class="wrap-border">
				<img src="img/JS5user.png" />
				<input name="uname" type="text" placeholder="请输入用户名" ng-model="formData.name" ng-minlength=3 ng-maxlength=10 required />
				<!--在formData中添加name-->
			</div>
			<div class="error" ng-messages="loginForm.uname.$error">
					<div ng-message="required">用户名不能为空</div>
					<div ng-message="minlength">用户名长度至少为3</div>
					<div ng-message="maxlength">用户名长度不能超过10</div>
				</div>
			<div class="wrap-border">
				<img src="img/JS5password.png" />
				<input ng-model="formData.pwd" name="upwd" type="password" placeholder="请输入密码" ng-minlength=3 ng-maxlength=10 required />
				<!--在formData中添加pwd-->
			</div>
			<div class="error" ng-messages="loginForm.upwd.$error">
					<div ng-message="required">密码不能为空</div>
					<div ng-message="minlength">密码长度至少为3</div>
					<div ng-message="maxlength">密码长度不能超过10</div>
				</div>
		</form>
		<button class="login" ng-click="click()">
			<strong>登陆</strong>
		</button>

		<script src="js/angular/angular.min.js"></script>
		<script src="js/angular/angular-messages.js"></script>
		<script src="js/jquery-3.3.1.js"></script>
		<script src="js/JS6-LOGIN.js"></script>

	</main>
</body>

</html>