<div class="add">
    <div class="add-title">
        <strong>{{listTitle}}</strong>
    </div>
    <form name="check">
        <div class="add-style">
            <label>标题名称
                <br/>
                <span class="red" ng-show="check.checktitle.$error.required">*</span>必填项</label>
            <input type="text" ng-model="title" name="checktitle" required novalidate />
            <div style="color:red;display: inline-block" ng-show="check.checktitle.$error.required">
                标题不能为空
            </div>
        </div>
        <div class="add-style">
            <label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型
                <br />
                <span class="red" ng-show="check.type.$error.required">*</span>必填项</label>
            <select name="type" ng-model="type" ng-options="type.id as type.typename for type in types" required></select>
            <span ng-show="check.type.$error.required" style="color:red;">请选择行业类型</span>
            <select class="selectpicker" ng-if="type===3" name="industry" ng-model="$parent.industry" ng-options="industry.id as industry.industryname for industry in industries"
                required></select>
            <span ng-show="type===3">
                <span class="selectpicker" ng-show="check.industry.$error.required" style="color:red;">请选择大图类型</span></span>
        </div>

        <div>
            <label class="add-style">说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明</label>
            <div id="editor"></div>
            <script src="js/other/wangEditor.js"></script>
            <script src="js/JS6-EDIT.js"></script>
        </div>
        <div class="add-style">
            <label>跳转链接
                <br />
                <span class="red" ng-show="check.check_type.$error.required">*</span>必填项</label>
            <input type="url" ng-model="link" name="check_type" required novalidate />
            <div style="color:red;display: inline-block" ng-show="check.check_type.$error.required">
                链接不能为空
            </div>
            <div style="color:red;display: inline-block" ng-show="check.check_type.$error.url">
                URL格式不正确
            </div>
        </div>
        <div class="add-style">
            <label>配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图
            </label>
            <label for="file" class="btn btn-primary">选择文件</label>
            <input id="file" name="file" style="display: none;" type="file" ng-model="myFiles" ngf-select="" ng-click="imgStatus()"
                ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" required="" class="ng-untouched ng-dirty ng-valid-max-height ng-valid-min-height ng-valid-max-width ng-valid-min-width ng-valid-dimensions ng-valid-ratio ng-valid-max-ratio ng-valid-min-ratio ng-valid-max-duration ng-valid-min-duration ng-valid-duration ng-valid-validate-async-fn ng-not-empty ng-valid-parse ng-valid ng-valid-required"
                accept="image/*" required>

        </div>
        <!-- 本地预览 -->

        <div class="add-view" ng-if="myFiles">
            <img style="max-width:100%;" ngf-src="myFiles" />
        </div>

        <!-- 服务器获取数据预览 -->
        <div ng-hide="myFiles" class="add-view">

            <img style="max-width:100%;" ng-if="img_view" ng-src="{{img_view}}" />
        </div>
         <table class="add-list-style">
            <tr>
                <th class="add-clear-left-border">图片</th>
                <th>大小</th>
                <th>进度</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr ng-if="myFiles">
                <td class="add-clear-left-border">{{myFiles.name}}</td>
                <td>{{myFiles.size/1048576 | number:3}}MB</td>
                <td>
                    <div class="progress text-center" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': myFiles.progress + '%' }"></div>
                    </div>
                </td>
                <td ng-class="{true : 'green',false : 'red' }[upImgStatus]">{{ok}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-small" ng-click="imgUpload(myFiles)">
                        上传
                    </button>
                    <button type="button" class="btn btn-danger btn-small" ng-click="imgDelete(myFiles)">
                        删除
                    </button>
                </td>
            </tr>
        </table>

    </form>
    <div class="add-bottom-btn">
        <button ng-disabled="
            check.industry.$error.required 
            || check.checktitle.$error.required 
            || check.check_type.$error.required 
            ||check.type.$error.required 
            ||check.check_type.$error.url
            || imgcheck"
            class="btn btn-success " ng-click="online()">立即上线</button>
        <button ng-disabled="
            check.industry.$error.required 
            || check.checktitle.$error.required 
            || check.check_type.$error.required 
            ||check.type.$error.required 
            ||check.check_type.$error.url
            || imgcheck"
            class="btn btn-primary " ng-click="save()">存为草稿</button>
        <button ng-click="cancel() " class="btn btn-warning">取消</button>
    </div>
</div>