.list {
  padding: 0.2rem calc(0.2rem + 15px) 0.2rem 0.2rem;
  margin-left: calc(2rem + 15px);
  height: 100vh;
  background: #eee;
}

.title {
  margin-top: .8rem;
  padding: .15rem;
  border: #4f4f4f solid 1px;
  border-radius: .05rem;
  background: #fff;
}

.title .form-ctrl {
  margin: .15rem;
}

.liner {
  display: inline-block;
  position: relative;
  top: 50%;
  height: 1px;
  background: #212121;
  width: .2rem;
}

.article {
  margin-top: .2rem;
  border: #4f4f4f solid 1px;
  border-radius: .05rem;
  background: #fff;
}

.article .top {
  height: .3rem;
  padding: 0 0.2rem;
  border: none;
  background: #212121;
  border-top-right-radius: .05rem;
  border-top-left-radius: .05rem;
}

.article .top > span {
  line-height: .3rem;
  font-size: .12rem;
  color: #eee;
}

.article .top > button {
  float: right;
  margin-top: .045rem;
}

.article > table {
  margin: 0;
  border: none;
}

.article > table .thead {
  border: none;
}

.article > table .thead > th {
  max-width: 1rem;
  border: none;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pages > div {
  display: flex;
  align-items: center;
}

.pages input {
  width: .4rem;
}

.text-info {
  font-size: .2rem;
  text-align: center;
}

.online-text,
.offline-text,
.delete {
  text-align: center;
  color: #4f4f4f;
}

.text-success,
.text-danger {
  text-align: center;
  font-size: .2rem;
}
