* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 250px;
}

header {
  overflow: hidden;
  background-color: #ccc;
  height: 5rem;
}

.head-right {
  float: right;
  padding: 1rem;
  color: #ff7300;
  vertical-align: middle;
}

.head-right span {
  padding: .5rem;
}

.head-right span:hover {
  background-color: #464646;
}

.back-list {
  width: 250px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #232a3a;
  color: white;
  text-align: center;
}

.back-list ul {
  margin: 0;
  background: black;
}

.back-list span {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  background: black;
  cursor: pointer;
  border-bottom: 1px solid #6b6b6b;
}

.back-list li:hover {
  background: #466663;
}

.secondlist1 {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background: #222;
  cursor: pointer;
  border-bottom: 1px solid #6b6b6b;
}

.secondlist2 {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid #6b6b6b;
  background: #466663;
}

.back-list-title {
  padding: 1rem;
  font-size: 2rem;
  height: 4.95rem;
}

.active {
  color: red;
}
