html {
  font-size: 625%;
}

body {
  font-size: .16rem;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  overflow: hidden;
  background-color: #12b2ce;
}

.head-left {
  float: left;
  padding: 1rem;
  background-color: orange;
  border: 1px solid black;
}

.head-right {
  float: right;
  padding: 1rem;
  vertical-align: middle;
}

.head-right img {
  height: 2rem;
}

.head-right button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

main {
  overflow: hidden;
}

main a {
  text-decoration: none;
  color: white;
}

main a:link {
  text-decoration: none;
}

main a:visited {
  text-decoration: none;
}

main a:hover {
  text-decoration: none;
  color: green;
}

.main-left {
  font-size: 2rem;
  background-color: black;
  color: white;
  list-style-type: none;
}

.main-left li {
  border: 1px solid green;
  padding: 1rem;
}

.main-left ul {
  list-style-type: none;
}

.main-left ul li {
  border: none;
  padding: 0;
  border-bottom: 1px solid green;
}

.main-left ul li button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

.main-tittle {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
}

.main-change {
  padding: 1rem;
  list-style-type: none;
  border: 1px solid black;
  border-top: none;
}

.red {
  display: inline;
  color: red;
}

.main-group li {
  display: inline;
}

.nav-click {
  text-decoration: none;
  color: white;
}
