<div class="module">
    <div class="MO-list">
        <div class="list-HD">
            <span>模块管理</span>
            <button type="button" class="btn btn-success btn-xs" ng-disabled="vm.createBtn" ng-click="vm.editModule()">+新增</button>
        </div>
        <table class="table table-hover">
            <tbody>
                <tr class="thead">
                    <th>自增长ID</th>
                    <th>名称</th>
                    <th>模块对应url地址</th>
                    <th>父模块ID</th>
                    <th>模块类型</th>
                    <th>数据更新时间</th>
                    <th>更新者</th>
                    <th>数据创建时间</th>
                    <th>创建者</th>
                    <th>操作</th>
                </tr>
                <tr class="thead" ng-if="vm.moduleShowList" ng-repeat="module in vm.moduleShowList">
                    <th>{{module.id}}</th>
                    <th>{{module.name}}</th>
                    <th>{{module.url}}</th>
                    <th>{{module.parentID}}</th>
                    <th>{{module.type}}</th>
                    <th>{{module.updateAt|date:"yyyy/MM/dd&nbsp;hh:mm:ss"}}</th>
                    <th>{{module.updateName}}</th>
                    <th>{{module.createAt | date:"yyyy/MM/dd&nbsp;hh:mm:ss"}}</th>
                    <th>{{module.createName}}</th>
                    <th>
                        <button type="button" class="btn btn-info btn-xs" ng-disabled="vm.updateBtn" ng-click="vm.editModule(module.id)" >编辑</button>
                        <button type="button" class="btn btn-danger btn-xs" ng-disabled="vm.deleteBtn" ng-click=" vm.delModule(module.id)">删除</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <div class="pages">
            <div>
                <span>每页显示</span>
                <input class="form-control input-sm" ng-model="vm.goSize" type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                <span>条</span>
            </div>
            <ul uib-pagination ng-change="vm.pageChange()" total-items="vm.bigTotalItems" ng-model="vm.currentPage"
                boundary-link-numbers="false" items-per-page="vm.size" first-text="首页" previous-text="《" next-text="》"
                last-text="末页" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></ul>
            <div>
                <span>第</span>
                <input class="form-control input-sm" ng-model="vm.goPage" type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                <span>页</span>
            </div>
            <button type="button" class="btn btn-primary" ng-click="vm.sizeGo()">确认</button>
        </div>
    </div>
    
</div>