<div ng-controller="ModuleList" class="module">
        <div class="MO-list">
                <div class="list-HD">
                    <span>模块管理</span>
                    <button type="button" class="btn btn-success btn-xs" ng-click="added()">+新增</button>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr class="thead">
                            <th>自增长ID</th>
                            <th>名称</th>
                            <th>模块对应url地址</th>
                            <th>父模块ID</th>
                            <th>模块类型</th>
                            <th>数据更新时间</th>
                            <th>更新人ID</th>
                            <th>数据创建时间</th>
                            <th>创建人ID</th>
                            <th>操作</th>
                        </tr>
                        <tr class="thead">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <button type="button" class="btn btn-info btn-xs">编辑</button>
                                <button type="button" class="btn btn-danger btn-xs">删除</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>